{% extends "UserBundle::layout.html.twig" %}

{% block contenu %}
	<div class="container">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default container-block">
				<div class="panel-heading">Creation d'une nouvelle opération bancaire</div>
					<form name="acme_userbundle_opbancairetype" method="post" action="">
						<div id="acme_userbundle_opbancairetype">
							<div class="panel-body">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-font"></span></span>
									<input type="text" id="acme_userbundle_opbancairetype_nom" class="form-control" name="acme_userbundle_opbancairetype[nom]" required="required" placeholder="Nom" />
								</div><br />
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
									<input type="text" id="acme_userbundle_opbancairetype_montant" class="form-control" name="acme_userbundle_opbancairetype[montant]" required="required" placeholder="Montant" />
									<span class="input-group-addon">Crédit ? {{ form_widget(form.type) }}</span>
								</div><br />
								<div class="input-group">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default" tabindex="-1">Catégorie</button>
									</div>
									{{ form_widget(form.categories) }}
								</div>
							</div>
							<div class="panel-footer">
								<div>
									<button type="submit" id="acme_userbundle_opbancairetype_save" class="btn btn-default" name="acme_userbundle_opbancairetype[save]">Enregistrer</button>
								</div>
								{{ form_row(form._token) }}
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}